*{
    padding: 0;
    margin: 0;
}
.root{
    background-color: gray;
}
.App{
    width:59vh;
    background-color: #1D4044;
    padding-top: .1px;
    padding-bottom: .1px;
    .group{
        margin: 5px;
        .search_bar{
            display: flex; /*アイコン、テキストボックスを調整する*/
            align-items: center; /*アイコン、テキストボックスを縦方向の中心に*/
            justify-content: center; /*アイコン、テキストボックスを横方向の中心に*/
            height: 50px;
            width: 100%;
            background-color: #ddd;
        }
        .search_icon{ /*アイコンに一定のスペースを設ける*/
            height: 15px;
            width: 15px;
            padding: 5px 5px;
        }
        #text2{
            font-size: 16px;
            margin: 0 10px;
            width: 100%; /*flexの中で100%広げる*/
            background-color: #ddd;
            border: none; /*枠線非表示*/
            outline: none; /*フォーカス時の枠線非表示*/
            box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/
        }
    }
    a{
        text-decoration: none;
    }
    .Article{
        background-color: #319795;
        padding:10px;
        margin: 5px;
        height: 130px;
        border-radius: 10px;
        .title{
            font-size: 30px;
            span{
                font-size: 25px;
            }
        }
        .date{
            font-size: 60px;
            text-align: right;
            margin-right: 100px;
            span{
                font-size: 20px;
            }
        }
        p{
            color:white;
        }
    }
    .plus{
        height: 75px;
        width: 75px;
        background-color: #81E6D9;
        border-radius: 50%;
        position: fixed;
        bottom: 20px;
        .fa-plus{
            color: white;
            margin: 7px;
            margin-left: 8px;
        }
    }
}
